[Unit]
Description=Sigma DSP backend
Wants=network-online.target
After=network.target network-online.target
[Service]
Type=simple
ExecStart=/bin/bash -c "$SIGMADSP_SERVICE_LOCATION -s $SIGMADSP_CONFIGURATION_FOLDER/$SIGMADSP_CONFIGURATION_FILE"
StandardOutput=journal
[Install]
WantedBy=multi-user.target
